.layoutContainer {
    .titleContainer {
        display: flex;
        justify-content: center;
        margin: 3%;
    }
    .bodyContainer {
        display: flex;
        justify-content: center;
    }

}
